body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.ant-table-content{
  padding-left: 23%
}


.ant-menu-overflow{
  padding-bottom: 20px;
  padding-left: 43%;
}

.ant-row{
  padding-top: 40px;
  padding-bottom: 20px;
}

.TablesSection .ant-table-tbody{
  display: flex;
  flex-wrap: wrap;
}

.DishesSection .ant-table{
  padding-right: 10%;
}

.TableEditBtn {
  margin-right: 5px;
}